In [1]:
# append

cars = ['BMW', 'Volkswagen', 'Audi']
print(cars)

cars.append('Benz')  # Add an item
print(cars)

['BMW', 'Volkswagen', 'Audi']
['BMW', 'Volkswagen', 'Audi', 'Benz']

In [2]:
new_cars = ['Maruthi', 'Tata']
cars.append(new_cars)
print(cars)

['BMW', 'Volkswagen', 'Audi', 'Benz', ['Maruthi', 'Tata']]

In [3]:
# clear

cars.clear()  # Clears list
print(cars)

[]

In [6]:
# copy

cars = ['BMW', 'Volkswagen', 'Audi']

c = cars.copy()  # Copy cars list to c
print(c)

['BMW', 'Volkswagen', 'Audi']

In [9]:
# count

n = cars.count('Audi')  # Returns no of occurrence of a specific element
print(n)

numbers = [1,2,3,1,3,4,1,3,4]
count = numbers.count(1)
print(count)

1
3

In [10]:
numbers.count(5)

0

In [11]:
# extend

cars = ['BMW', 'Volkswagen', 'Audi']
new_cars = ['Maruthi', 'Tata']

cars.extend(new_cars)  # Extends the list with new list
print(cars)

['BMW', 'Volkswagen', 'Audi', 'Maruthi', 'Tata']

In [12]:
numbers = (1,2,3,4)
cars.extend(numbers)  # Can add any iterables
print(cars)

['BMW', 'Volkswagen', 'Audi', 'Maruthi', 'Tata', 1, 2, 3, 4]

In [13]:
# index

cars = ['BMW', 'Volkswagen', 'Audi']

i = cars.index('Audi')  # Returns the index of specific element
print(i)

2

In [14]:
cars = ['BMW', 'Volkswagen', 'Audi', 'BMW']

i = cars.index('BMW')  # Retruns index of first occurrence
print(i)

0

In [23]:
cars.index('Tata')

ValueError: 'Tata' is not in list

In [19]:
# insert

cars = ['BMW', 'Volkswagen', 'Audi']

cars.insert(1,'Skoda')  # Insert an element at a specified position
print(cars)

['BMW', 'Skoda', 'Volkswagen', 'Audi']

In [20]:
cars.insert(1,new_cars)
print(cars)

['BMW', ['Maruthi', 'Tata'], 'Skoda', 'Volkswagen', 'Audi']

In [21]:
# pop

cars = ['BMW', 'Volkswagen', 'Audi']

x = cars.pop(1)  # Removes and returns an element at a specified position
print(x)
print(cars)

Volkswagen
['BMW', 'Audi']

In [22]:
x = cars.pop()  # Removes the last element by default
print(x)
print(cars)

Audi
['BMW']

In [24]:
# remove

cars = ['BMW', 'Volkswagen', 'Audi']

cars.remove('BMW')  # Removes the element 
print(cars)

['Volkswagen', 'Audi']

In [25]:
cars = ['BMW', 'Volkswagen', 'Audi', 'BMW']

cars.remove('BMW')  # Removes the first element
print(cars)

['Volkswagen', 'Audi', 'BMW']

In [26]:
cars.remove('Tata')

ValueError: list.remove(x): x not in list

In [28]:
# reverse

cars = ['BMW', 'Volkswagen', 'Audi']

cars.reverse()  # Reverse the order
print(cars)

['Audi', 'Volkswagen', 'BMW']

In [35]:
# sort

cars = ['BMW', 'Volkswagen', 'Audi']

cars.sort()  # Sort the list
print(cars)

['Audi', 'BMW', 'Volkswagen']